# Data And Import packesges

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('general_data.csv')

In [4]:
# Data View
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [5]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [8]:
# checking for nan value
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [10]:
df.isna().any()

Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField             False
EmployeeCount              False
EmployeeID                 False
Gender                     False
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked          True
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears           True
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

In [11]:
df.shape

(4410, 24)

In [12]:
df.dropna(axis=0,inplace=True)

In [13]:
df.shape

(4382, 24)

In [15]:
df.isna().any()

Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField             False
EmployeeCount              False
EmployeeID                 False
Gender                     False
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked         False
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears          False
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

**There is No null values in the dataset**

In [23]:
obj = [i for i in df.columns if df.dtypes[i] == 'object']

In [24]:
obj

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18']

In [30]:
# Label encoder used to convert non-numerical into numerical
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
# Dependent variable --> Attrition
df.Attrition = encoder.fit_transform(df.Attrition)

df['BusinessTravel'] = encoder.fit_transform(df['BusinessTravel'])
df['Department'] = encoder.fit_transform(df['Department'])
df['EducationField'] = encoder.fit_transform(df['EducationField'])
df['Gender'] = encoder.fit_transform(df['Gender'])
df['JobRole'] = encoder.fit_transform(df['JobRole'])
df['MaritalStatus'] = encoder.fit_transform(df['MaritalStatus'])

In [31]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [35]:
# attrition = Yes and no seprate
att_yes = df[df['Attrition']== 1]
att_no = df[df['Attrition']== 0]

## This dataset we have 1 dependent categorical variable so we can perform 2 tests

1. ManWhitney

2. Chi Square

In [36]:
def manwhitney(stats, p, b):
    print('\nH0 = There is no significant difference between Attrition_yes with',b, 'and Attrition_No with', b)
    print('H1 = There is significant difference between Attrition_yes with',b, 'and Attrition_No with', b, '\n')
    print(stats, 'P Value:', p,'\n')
    if p < 0.05:
        print('P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis')
    else:
        print("P-Value >= 0.05 hence H0 Accepted")

In [39]:
from scipy.stats import mannwhitneyu
stats, p = mannwhitneyu(att_yes.Age, att_no.Age)
manwhitney(stats, p, 'Age')

H0 = There is no significant difference between Attrition_yes with Age and Attrition_No with Age
H1 = There is significant difference between Attrition_yes with Age and Attrition_No with Age

949178.0 P Value: 7.98668614365882e-30

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [42]:
from scipy.stats import mannwhitneyu
stats, p = mannwhitneyu(att_yes.DistanceFromHome, att_no.DistanceFromHome)
manwhitney(stats, p, 'DistanceFromHome')

H0 = There is no significant difference between Attrition_yes with DistanceFromHome and Attrition_No with DistanceFromHome
H1 = There is significant difference between Attrition_yes with DistanceFromHome and Attrition_No with DistanceFromHome

1295261.0 P Value: 0.488538986087403

P-Value >= 0.05 hence H0 Accepted

In [43]:
from scipy.stats import mannwhitneyu
stats, p = mannwhitneyu(att_yes.Education, att_no.Education)
manwhitney(stats, p, 'Education')

H0 = There is no significant difference between Attrition_yes with Education and Attrition_No with Education
H1 = There is significant difference between Attrition_yes with Education and Attrition_No with Education

1258277.0 P Value: 0.09888570408770686

P-Value >= 0.05 hence H0 Accepted

In [44]:
from scipy.stats import mannwhitneyu
stats, p = mannwhitneyu(att_yes.MonthlyIncome, att_no.MonthlyIncome)
manwhitney(stats, p, 'MonthlyIncome')

H0 = There is no significant difference between Attrition_yes with MonthlyIncome and Attrition_No with MonthlyIncome
H1 = There is significant difference between Attrition_yes with MonthlyIncome and Attrition_No with MonthlyIncome

1249573.5 P Value: 0.06508807631576838

P-Value >= 0.05 hence H0 Accepted

In [45]:
from scipy.stats import mannwhitneyu
stats, p = mannwhitneyu(att_yes.NumCompaniesWorked, att_no.NumCompaniesWorked)
manwhitney(stats, p, 'NumCompaniesWorked')

H0 = There is no significant difference between Attrition_yes with NumCompaniesWorked and Attrition_No with NumCompaniesWorked
H1 = There is significant difference between Attrition_yes with NumCompaniesWorked and Attrition_No with NumCompaniesWorked

1238814.5 P Value: 0.02793197853866981

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [46]:
def chi2(stats, p, b):
    print('\nHo= There is no dependency betweem Attrition and', b)
    print('H1= There is dependency betweem Attrition and', b, '\n')
    print(chitable,'\n')
    print(stats, 'P Value:', p,'\n')
    if p < 0.05:
        print('P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis')
    else:
        print("P-Value >= 0.05 hence H0 Accepted")

In [48]:
from scipy.stats import chi2_contingency
chitable = pd.crosstab(df.Attrition, df.BusinessTravel)
stats, p, dof, expected = chi2_contingency(chitable)
chi2(stats, p, 'BusinessTravel')

Ho= There is no dependency betweem Attrition and BusinessTravel
H1= There is dependency betweem Attrition and BusinessTravel

BusinessTravel    0    1     2
Attrition
0               412  621  2644
1                36  204   465

70.07594084831366 P Value: 6.07019702736392e-16

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [49]:
chitable = pd.crosstab(df.Attrition, df.Department)
stats, p, dof, expected = chi2_contingency(chitable)
chi2(stats, p, 'Department')

Ho= There is no dependency betweem Attrition and Department
H1= There is dependency betweem Attrition and Department

Department    0     1     2
Attrition
0           132  2416  1129
1            55   449   201

25.89432541916022 P Value: 2.382970570769315e-06

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [50]:
chitable = pd.crosstab(df.Attrition, df.JobLevel)
stats, p, dof, expected = chi2_contingency(chitable)
chi2(stats, p, 'JobLevel')

Ho= There is no dependency betweem Attrition and JobLevel
H1= There is dependency betweem Attrition and JobLevel

JobLevel      1     2    3    4    5
Attrition
0          1369  1307  555  267  179
1           250   283   96   51   25

7.036480574687178 P Value: 0.13397290697032432

P-Value >= 0.05 hence H0 Accepted